!tests/runtime/modules/*.so
!tests/runtime/modules/autoload/*.so
*.a
*.dSYM/
*.exe
*.la
*.lo
*.log
*.o
*.orig
*.so
*.sw?
*~
.deps
.dirstamp
.libs
/libtool
COPYING
INSTALL
Makefile
Makefile.in
aclocal.m4
authd/authd
autom4te.cache
bandb/bandb
bandb/bantool
compile
confdefs.h
config.guess
config.log
config.status
config.sub
configure
depcomp
include/serno.h
include/setup.h
include/setup.h.in
install-sh
ircd/charybdis
ircd/charybdis
ircd/ircd_lexer.c
ircd/ircd_parser.c
ircd/ircd_parser.h
ircd/version.c
ircd/version.c
ircd/version.c.last
ircd/version.c.last
libltdl/
librb/COPYING
librb/INSTALL
librb/aclocal.m4
librb/compile
librb/configure
librb/depcomp
librb/include/librb-config.h
librb/include/librb-config.h.tmp
librb/include/librb_config.h
librb/include/librb_config.h.in
librb/include/serno.h
librb/libratbox.pc
librb/librb.pc
librb/libtool
librb/ltmain.sh
librb/missing
librb/src/version.c
librb/src/version.c.last
ltmain.sh
m4/argz.m4
m4/libtool.m4
m4/ltargz.m4
m4/ltdl.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
missing
scripts/*.tar.bz2
scripts/*.tar.gz
shtool
ssld/ssld
stamp-h1
tags
tests/*.c.ban.db
tests/*.c.ban.db-journal
tests/*.c.log
tests/*.c.pid
tests/core
tests/msgbuf_parse1
tests/msgbuf_unparse1
tests/rb_dictionary1
tests/rb_snprintf_append1
tests/rb_snprintf_try_append1
tests/runtests
tests/send1
tests/serv_connect1
tests/substitution1
testsuite/ircd.pid.*
tools/charybdis-mkfingerprint
tools/charybdis-mkpasswd
tools/genssl
tools/mkpasswd
tools/viconf
wsockd/wsockd
